#titles{
    font-family: 'Sofia';
}

#foot_img{
    -webkit-filter: invert(100%);
    filter: invert(100%);
    width: 100%;
    transition-duration: 200ms;
}

#foot_img:hover{
    opacity: 50%;
}

#foot_a{
    width: 65px;
}