extends home
block routes 
    h4(class="nav-item") 
        a(class="nav-link" href="/")  Home
    h4(class="nav-item active") 
        a(class="nav-link" href="/villas")  Villas
    h4(class="nav-item") 
        a(class="nav-link" href="/hotel")  Hotel
block content
    section(class='card-body')
        .villas
            hr
            div(class='card-body text-center')
                h1#titles Villas
                p Enjoy the full experience of luxurious Caribbean living at Casa de Campo Resort and Villas from your own private home. Casa de Campo’s luxury private Dominican Republic villas are located throughout the breathtaking resort. Take in the spectacular natural surroundings of our Garden Villas, or experience the highest form of luxury—and spectacular views of the Caribbean Sea—from an Oceanfront Villa. Each luxury Dominican Republic villa at Casa de Campo has its own unique charm, so every guest can experience the true spirit of an idyllic Caribbean villa vacation rental.
            hr
            <div class='card-body'> 
                <div class="row row-cols-1 row-cols-md-2">
                    <div class="col mb-4">
                        <div class="border card bg-light">
                            <img src="icons/coll (1).jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h4 class="card-title">CASA STRAVAGANZA</h4>
                                <p class="card-text">Casa Stravaganza is a truly beautiful two-story villa complete with ocean and golf course views. Contemporary and open spaces are an important part of its layout, providing the perfect place for a remarkable experience. Bold and courageous are only a few ways to describe this house’s design: avant-garde furniture crown the spacious hall that welcomes you.</p>
                                <button href="/villas" class="btn btn-info">Learn more</button>
                        </div>
                        </div>
                    </div>
                    <div class="col mb-4">
                        <div class="border card bg-light">
                            <img src="icons/coll (2).jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h4 class="card-title">VILLA FARO</h4>
                                <p class="card-text">This unique two-story villa with ocean accents provides a calming and relaxing atmosphere. The home´s  decoration expresses a high level of life. The infinity pool is only a few steps down from the Gazebo area and a couple of more steps you will come to a wooden deck that outlines the back and even a private dock. The dining area has seating for 12 guests with artistic decoration that evokes the ocean.</p>
                                <button href="/villas" class="btn btn-info">Learn more</button>
                        </div>
                        </div>
                    </div>
                    <div class="col mb-4">
                        <div class="border card bg-light">
                            <img src="icons/coll (3).jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h4 class="card-title">VILLA NERISSA</h4>
                                <p class="card-text">When you look up “vacation in paradise”, Villa Nerissa comes up. A luxurious ocean-side 4-bedroom retreat, located in a privileged location: not only overlooking the beautiful Caribbean Sea, but right next to Teeth of the Golf, No. 1 golf course in the Caribbean. Can you even ask for more? We have more! Each space has been designed to favor relaxation and peace, a private pool will welcome any time of the day or night, and if you still have the energy: a complete gym is ready for you.</p>
                                <button href="/villas" class="btn btn-info">Learn more</button>
                        </div>
                        </div>
                    </div>
                    <div class="col mb-4">
                        <div class="border card bg-light">
                            <img src="icons/coll (4).jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h4 class="card-title">VILLA CIELO AZUL</h4>
                                <p class="card-text">Enjoy true Caribbean living from your own private home and experience the utmost luxury and spectacular views of the Caribbean Sea, from exquisite Cielo Azul Villa in the exclusive and private gated setting of CASA DE CAMPO® Resort & Villas. This incredible villa in the Dominican Republic features 7 fully equipped bedrooms, a basketball court, game room, a private pool, stylish living areas, and incredible unique touches. Please note that Cielo Azul has two additional rooms that can be added if the group is larger, please let our Villa Specialist know if you need additional accommodations.</p>
                                <button href="/villas" class="btn btn-info">Learn more</button>
                        </div>
                        </div>
                    </div>
                    <div class="col mb-4">
                        <div class="border card bg-light">
                            <img src="icons/coll (5).jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h4 class="card-title">VILLA MAR Y PALMA</h4>
                                <p class="card-text">Villa Mar y Palma is a splendid and elegant vacation home with a privileged oceanfront view, and enjoys a prime location, strategically situated in front of the renowned Teeth of the Dog golf course. Here, peace, charm and nature converge magnificently. The quality furnishings, delicate decoration and attention to detail combine to create a delirious paradise that creates a calming ambiance for each and every visitor.</p>
                                <button href="/villas" class="btn btn-info">Learn more</button>
                        </div>
                        </div>
                    </div>
                    <div class="col mb-4">
                        <div class="border card bg-light">
                            <img src="icons/coll (6).jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h4 class="card-title">CASA GLORIA</h4>
                                <p class="card-text">Located near the world-famous Teeth of the Dog golf course and the Caribbean Sea, this luxurious villa, designed by the best architectural team in CASA DE CAMPO®, is already breaking records in elegance and charm. The house faces a very long, elegant pool and gazebo, both framing awe-inspiring views from every angle. It also features a modern art collection and a state-of-the-art kitchen.</p>
                                <button href="/villas" class="btn btn-info">Learn more</button>
                        </div>
                        </div>
                    </div>
            </div>  